body {
    background-color: black;
    margin: 0;
    display: grid;
    grid-template-areas: "navigation" "header" "content" "footer";
    grid-template-rows: min-content min-content auto min-content;
}

#top {
    background-image: url(https://lh3.googleusercontent.com/H-JEEmhk4HUZmecnj5OXcT3wcXzIOFdci6mQhCMrzm7xvZmZHID2uVQWeKQhvrL8awYRJNNU9zHsDoUV-a88RMuNCHBqsUQLONWLmyXu0lNuSO4-mOSI_gCldS-WKnAVfBi585dJASaIzDpOwKKiJY6LSggSsDpg1iK-Fwkk9tu4Q-XKJ88dCd7Y3OfVRPAwnRfI1gzzIfRI4z2u_zVIYb35HqAxYIoV_fjvBmh8PCGp9xam1iSlaIR9y8KqeXi5Jei18Oa1SGn_KiquWuUdrfu2nagnFQHDeqXlQSbwOuHGE4dAEFirOccD8nNu0FPIzc4JiyJViUZIWhssnmBqt6Km_4fktqUu6XprRm1VDrXNi8UHNXxA_v_IqX7yunlESg-_gFHr1JbDLaVFfpoY-gCY53RUSPUifoyrqvSE1H8EFOc_M5Tap8CpDh-oIJ_P6jY7wjvG-NeoTCJYnIC5px40LjS3j4kajhNQ-M9KhkdOxxfJE06wddnUAu2SMXK1Le-HIMyZRYfTi6Z3Zv3ur-R72tsJufDlrELwwykXHACIN7aFRykXTqL9vIzE_O7rVZ_2tjQTS4MmX4b8hfgizZwlEaqoa-WhH4Tn2mg=w1920-h424-no);
    background-size: 100% 100%;
    min-height: 200px;
}

#navigation {
    font-family: 'Lucida Console', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    position: sticky;
    top: 0;
}

#navigation>ul {
    color: cyan;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navigation li {
    color: red;
}

#navigation a+ul:hover, #navigation a:hover+ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#navigation a+ul {
    display: none;
    position: absolute;
    left: 0;
}

#navigation>ul>li {
    display: inline;
    position: relative;
}

#header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#content {
    background-color: #bbbbbb;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#content li:hover {
    background-color: fuchsia;
}

#footer {
    padding: 5px;
    min-height: 20px;
    background-color: steelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}

#b-nav {
    display: inline;
}

.intro {
    color: azure;
}

.container {
    width: 100%;
    max-width: 500px;
}

.current {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}

.link {
    display: flex;
    justify-content: space-evenly;
    background-color: steelblue;
}